/* CONTENT - ANCHOR */
#main{
    width: 70%;
    margin: auto;
}

#nav-bar{
    background-color: #fef8c62e;
    height: fit-content;
    width: 100%;
    font-size: 100%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-style: outset;
    border-radius: 0.5cm;
    border-width: 0.2cm;
}

#nav-bar ul{
    list-style-type: none;
    padding: 0;
    margin: 10;
}

#nav-bar li{
    display: inline;
    padding: 5px;
}