#detail-eats{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding: 10px;
}

.eats-post {
    width: 20%;

    padding: 10px;
    margin: 10px;

    border-style: outset;
    border-width: 0.5px;
    border-radius: 30px;
}

.eats-post img{
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.eats-post p{
    margin-top: 0px;
    margin-bottom: 10px;
}