h1{
    text-align: center;
    font-weight: 500;
}

.edu-section{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.edu-content{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.proj-section{
    width: 100%;
}

.proj-content{
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.exp-text{
    padding-left: 2px;
    width: 45%;
}

.exp-img{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
}

.exp-img img{
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 20px 24px rgba(0, 0, 0, 0.5);
}

.edu-img img{
    max-width: 100%;
    max-height: 200px;
    object-fit: contain;
    overflow: hidden;
}