/* Base style for typewriter text */
.typewriter {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.5;
    white-space: pre; /* Preserves whitespace */
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    overflow: hidden; /* Hide any overflowing content */
  }
  
  /* Animation for typewriter effect */
  .typewriter-animation {
    display: inline-block;
    overflow: scroll; /* Hides text overflow */
    /* Blinking cursor effect */
    /* border-right: .15em solid black; */
    white-space: nowrap; /* Prevents text wrapping */
    /* animation: typing 3.5s steps(30, end), blink-caret .75s step-end 3.5s; */
    animation: typing 3.5s steps(30, end);
    max-width: 100%; /* Ensure it doesn't exceed container width */
  }
  
  /* Keyframes for typing animation */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  /* Keyframes for blinking cursor */
  /* @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  } */
  


#selfintro {
    height: auto;
    margin-left: auto;
    margin-right:auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

#introleft{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#pic{
    margin-left: 50%;
    margin-top: 30px;
    transform: translateX(-50%);
    width: 70%;
    border-radius: 5%;
    height: auto;
    animation: fadeIn 3s;
}

/* @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  } */

#socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#socials li{
    list-style-type: none;
}

#socials img{
    width: 60%;
}

#introright{
    width: 40%;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 780px){
    .typewriter{
        font-size: 1.5em;
    }

    #selfintro{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    #introleft, #introright{
        width: 100%;
    }

    #pic {
        width: 50%;
        height: auto;
    }
}



#content-nav{
    background-color: #fef8c66c;
    height: fit-content;
    width: 65%;;
    font-size: 1rem;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-style: outset;
    border-radius: 0.5cm;
    border-width: 0.5px;
}

#content-nav div{
    margin-top: 15px;
    margin-bottom: 15px;
}

@media screen and (max-width: 640px){
    #content-nav{
        width: 80%;
    }
}
