/* CONTENT - MAIN */
p.anchor{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    margin-left: 0;
}

#content img{
    width: 20%;
    padding: 50px 0;
}

#content div{
    display: table-cell;
    height: auto;
    overflow: hidden;
}

div.detail{
    width: 70%;
    float: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

p.title{
    font-weight: bold;
}

#edu{
}

#workexp{
}

#leadexp{
}

#projects{
}

#topBtn {
    /* display: none; Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 15px; /* Place the button at the bottom of the page */
    right: 15px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgba(121, 121, 119, 0.332); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 50%; /* Rounded corners */
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 17px; /* Increase font size */
    font-family:'Courier New', Courier, monospace;
  }
  
  #topBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }