html,body{
    margin: 0;
}

/* HEADER */
#banner{
    height: 50px;
    width: 100%;
    background-color: #fef8c6;
    font-size: 25px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}

#name{
    text-decoration: none;
    font-size: 40px;
}

#banner ul{
    list-style-type: none;
    padding: 0;
    padding-right: 20px;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
}

a:link, a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #AAA9A9;
    text-decoration: underline;
}

#banner li{
    margin-bottom: 10px;
    display: inline;
}

#my{
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    color: #AAA9A9;
}


/* CONTENT - SUMMARY */
#summary{
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: auto;
    overflow: hidden;
}

#pic{
    width: 30%;
    float: left;
    height: fit-content;
}

#mypic{
    margin-left: 20px;
    width: 100%;
    border-radius: 25px;
}

#icons img{
    float: left;
    width: 20%;
    padding-inline: 2.5%;
}

#intro{
    width: 65%;
    float: right;
    height: fit-content;
}

#intro p{
    font-size: 18px;
    font-family: 'Courier New', Courier, "microsoft YaHei New";
}

#icons{
    width: 30%;
    float: left;
    float: bottom;
}

#icons li{
    display: inline;
    list-style-type: none;
}

/* CONTENT - ANCHOR */
#main{
    width: 70%;
    margin: auto;
}

#nav-bar{
    background-color: #fef8c62e;
    height: fit-content;
    font-size: 80%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-style: outset;
    border-radius: 0.5cm;
    border-width: 0.2cm;
}

#nav-bar ul{
    list-style-type: none;
    padding: 0;
    margin: 10;
}

#nav-bar li{
    display: inline;
    padding: 5px;
}

/* CONTENT - MAIN */
p.anchor{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100;
    margin-left: 0;
}

#content img{
    width: 15%;
}

#content div{
    display: table-cell;
    height: auto;
    overflow: hidden;
}

div.detail{
    background-color: aqua;
    width: 80%;
    float: right;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

p.title{
    font-weight: bold;
}

#edu{
    background-color: #AAA9A9;
}

#workexp{
    background-color: antiquewhite;
}

#leadexp{
    background-color: aqua;
}

#projects{
    background-color: aquamarine;
}


/* FOOTER */
#footer{
    height: fit-content;
    width: 100%;
    background-color: #fef8c6;
    text-align: center;
    color: #AAA9A9;
    font-family: 'Courier New', Courier, monospace;
}