/* HEADER */
#banner{
    height: 60px;
    width: 100%;
    background-color: #fef8c6;
    font-size: 30px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

#banner ul{
    list-style-type: none;
    padding: 0;
    padding-right: 20px;
    margin: 0;
    text-align: right;
}

a:link, a:visited{
    color: black;
    text-decoration: none;
}

a:hover{
    color: #AAA9A9;
    text-decoration: underline;
}

#banner li{
    margin-bottom: 10px;
    display: inline;
}

#my{
    font-size: 25px;
    font-family:'Courier New', Courier, monospace;
    color: #AAA9A9;
}


/* CONTENT */
#summary{
    display: block;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#mypic{
    width: 250px;
    border-radius: 25px;
}

#icons li{
    display: inline;
    list-style-type: none;
}


/* FOOTER */
#footer{
    height: 20px;
    width: 100%;
    background-color: #fef8c6;
    text-align: center;
    color: #AAA9A9;
    font-family: 'Courier New', Courier, monospace;
}