/* CONTENT - SUMMARY */
#summary{
    display: block;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: auto;
    overflow: hidden;
}

#pic{
    width: 30%;
    float: left;
    height: fit-content;
}

#mypic{
    margin-top: 50px;
    margin-left: 20px;
    width: 100%;
    border-radius: 25px;
}

#icons img{
    float: left;
    width: 20%;
    padding-inline: 2.5%;
}

#intro{
    width: 65%;
    float: right;
    height: fit-content;
}

#intro p{
    font-size: 18px;
    font-family: 'Courier New', Courier, "microsoft YaHei New";
}

#icons{
    width: 30%;
    float: left;
    float: bottom;
}

#icons li{
    display: inline;
    list-style-type: none;
}